In [1]:
# install.packages(c('modes','gtool'))

Installing packages into 'C:/Users/Syed Shariff/Documents/R/win-library/3.6'
(as 'lib' is unspecified)
Warning message:
"packages 'gtool', 'pkg1', 'pkg2' are not available (for R version 3.6.1)"

package 'modes' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Syed Shariff\AppData\Local\Temp\RtmpawnG4L\downloaded_packages

In [2]:
# Loading the libraries

library(modes)
library(caret)
library(dplyr)
library(gtools)

Loading required package: lattice
Loading required package: ggplot2
Registered S3 methods overwritten by 'ggplot2':
  method         from
  [.quosures     rlang
  c.quosures     rlang
  print.quosures rlang
Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

In [3]:
# loading data

housing_data = read.csv('housing_data.csv',header=T)

In [4]:
# Structure of the data

str(housing_data)

'data.frame':	500 obs. of  14 variables:
 $ CRIM : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ ZN   : num  18 0 0 NA 0 0 12.5 12.5 12.5 12.5 ...
 $ INDUS: num  2.31 7.07 7.07 2.18 2.18 ...
 $ CHAS : int  0 0 0 0 0 0 0 0 0 0 ...
 $ NOX  : num  0.538 0.469 0.469 0.458 0.458 ...
 $ RM   : num  6.57 6.42 7.18 7 7.15 ...
 $ AGE  : num  65.2 78.9 61.1 45.8 54.2 ...
 $ DIS  : num  4.09 4.97 4.97 6.06 6.06 ...
 $ RAD  : int  1 2 2 3 3 3 5 5 5 5 ...
 $ TAX  : int  296 242 242 222 222 222 311 311 311 311 ...
 $ PT   : num  15.3 17.8 17.8 18.7 18.7 ...
 $ B    : num  NA 397 393 395 397 ...
 $ LSTAT: num  4.98 9.14 4.03 2.94 5.33 ...
 $ MV   : num  24 21.6 34.7 33.4 36.2 ...

### We need to convert categorical data to factor from int

In [6]:
# CHAS is a categorical data
housing_data$CHAS = as.factor(housing_data$CHAS)

In [8]:
# RAD is ranking, which is categorical
housing_data$RAD = as.factor(housing_data$RAD)

In [9]:
str(housing_data)

'data.frame':	500 obs. of  14 variables:
 $ CRIM : num  0.00632 0.02731 0.02729 0.03237 0.06905 ...
 $ ZN   : num  18 0 0 NA 0 0 12.5 12.5 12.5 12.5 ...
 $ INDUS: num  2.31 7.07 7.07 2.18 2.18 ...
 $ CHAS : Factor w/ 2 levels "0","1": 1 1 1 1 1 1 1 1 1 1 ...
 $ NOX  : num  0.538 0.469 0.469 0.458 0.458 ...
 $ RM   : num  6.57 6.42 7.18 7 7.15 ...
 $ AGE  : num  65.2 78.9 61.1 45.8 54.2 ...
 $ DIS  : num  4.09 4.97 4.97 6.06 6.06 ...
 $ RAD  : Factor w/ 9 levels "1","2","3","4",..: 1 2 2 3 3 3 5 5 5 5 ...
 $ TAX  : int  296 242 242 222 222 222 311 311 311 311 ...
 $ PT   : num  15.3 17.8 17.8 18.7 18.7 ...
 $ B    : num  NA 397 393 395 397 ...
 $ LSTAT: num  4.98 9.14 4.03 2.94 5.33 ...
 $ MV   : num  24 21.6 34.7 33.4 36.2 ...

In [20]:
# display the top 6 rows
head(housing_data)

  CRIM    ZN INDUS CHAS NOX   RM    AGE  DIS    RAD TAX PT   B      LSTAT MV
1 0.00632 18 2.31  0    0.538 6.575 65.2 4.0900 1   296 15.3     NA 4.98  24.0
2 0.02731  0 7.07  0    0.469 6.421 78.9 4.9671 2   242 17.8 396.90 9.14  21.6
3 0.02729  0 7.07  0    0.469 7.185 61.1 4.9671 2   242 17.8 392.83 4.03  34.7
4 0.03237 NA 2.18  0    0.458 6.998 45.8 6.0622 3   222 18.7 394.63 2.94  33.4
5 0.06905  0 2.18  0    0.458 7.147 54.2 6.0622 3   222 18.7 396.90 5.33  36.2
6 0.02985  0 2.18  0    0.458 6.430 58.7 6.0622 3   222 18.7 394.12 5.21  28.7

In [11]:
# display the last 6 rows
tail(housing_data)

    CRIM    ZN INDUS CHAS NOX   RM    AGE  DIS    RAD TAX PT   B      LSTAT
495 0.22438 0   9.69 0    0.585 6.027 79.7 2.4982 6   391 19.2 396.90 14.33
496 0.06263 0  11.93 0    0.573 6.593 69.1 2.4786 1   273 21.0 391.99  9.67
497 0.04527 0  11.93 0    0.573 6.120 76.7 2.2875 1   273 21.0 396.90  9.08
498 0.06076 0  11.93 0       NA 6.976 91.0 2.1675 1   273 21.0 396.90  5.64
499 0.10959 0  11.93 0    0.573 6.794 89.3 2.3889 1   273 21.0 393.45  6.48
500 0.04741 0  11.93 0    0.573 6.030 80.8 2.5050 1   273 21.0 396.90  7.88
    MV
495 16.8
496 22.4
497 20.6
498 23.9
499 22.0
500 11.9

In [21]:
# summary of the data
summary(housing_data)

      CRIM                ZN             INDUS         CHAS
 Min.   : 0.00632   Min.   :  0.00   Min.   : 0.46   0   :460
 1st Qu.: 0.08199   1st Qu.:  0.00   1st Qu.: 5.19   1   : 35
 Median : 0.26169   Median :  0.00   Median : 9.69   NA's:  5
 Mean   : 3.65532   Mean   : 11.25   Mean   :11.12
 3rd Qu.: 3.67822   3rd Qu.: 12.50   3rd Qu.:18.10
 Max.   :88.97620   Max.   :100.00   Max.   :27.74
 NA's   :7          NA's   :7        NA's   :4
      NOX               RM             AGE              DIS
 Min.   :0.3850   Min.   :3.561   Min.   :  2.90   Min.   : 1.130
 1st Qu.:0.4482   1st Qu.:5.885   1st Qu.: 44.40   1st Qu.: 2.097
 Median :0.5380   Median :6.209   Median : 77.70   Median : 3.191
 Mean   :0.5538   Mean   :6.289   Mean   : 68.58   Mean   : 3.785
 3rd Qu.:0.6240   3rd Qu.:6.629   3rd Qu.: 94.10   3rd Qu.: 5.118
 Max.   :0.8710   Max.   :8.780   Max.   :100.00   Max.   :12.127
 NA's   :6        NA's   :4       NA's   :3        NA's   :4
      RAD           TAX              PT              B              LSTAT
 24     :129   Min.   :187.0   Min.   :12.60   Min.   :  0.32   Min.   : 1.73
 5      :111   1st Qu.:279.0   1st Qu.:17.40   1st Qu.:375.30   1st Qu.: 6.95
 4      :109   Median :330.0   Median :19.10   Median :391.34   Median :11.43
 3      : 36   Mean   :407.5   Mean   :18.47   Mean   :356.60   Mean   :12.65
 6      : 26   3rd Qu.:666.0   3rd Qu.:20.20   3rd Qu.:396.21   3rd Qu.:16.95
 (Other): 84   Max.   :711.0   Max.   :22.00   Max.   :396.90   Max.   :37.97
 NA's   :  5   NA's   :6       NA's   :9       NA's   :4        NA's   :6
       MV
 Min.   : 5.00
 1st Qu.:17.07
 Median :21.20
 Mean   :22.56
 3rd Qu.:25.00
 Max.   :50.00

# Data Pre-Processing


### Sampling

Stadford sampling is good for when data is more biased, Random Sampling is randomly picking

In [113]:
set.seed(29)

In [114]:
# pick row number randomly

train_rows = sample(x=1:nrow(housing_data),size = 0.7*nrow(housing_data))

In [115]:
# create train data and test data

train_data = housing_data[train_rows,]
test_data = housing_data[-train_rows,]

In [116]:
# Create object that hold
imputer_values = preProcess(x = train_data,method='medianImpute')

In [117]:
# number of NAs before imputing in train data
sum(is.na(train_data))

[1] 52

In [118]:
# imputing data
train_data <- predict(object = imputer_values, newdata = train_data)

In [119]:
# number of NAs after imputing
sum(is.na(train_data))

[1] 7

In [120]:
# number of NAs before imputing in test data
sum(is.na(test_data))

[1] 18

In [121]:
# imputing data
test_data <- predict(object = imputer_values, newdata = test_data)

In [122]:
# number of NAs after imputing in test data
sum(is.na(test_data))

[1] 3